<footer class="license-footer">
    <div class="license-content">
      <div class="license-image">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Creative Commons License" src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.svg"/>
        </a>
      </div>
      <div class="license-text">
        This work copyrighted by Nolan Mitchell under a 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. 
       </div>
    </div>
    <div class="download-info">
        Source files are available at 
        <a href="https://github.com/duragauge/duragauge.github.io">https://github.com/duragauge/duragauge.github.io</a>.
 
        You can also <a href="/precalculus-1-functions.pdf">download a PDF copy</a> of the entire book.  The PDF was last updated on January 21, 2024, and may not reflect changes to the online content made after that date.
    </div>
  </footer>

  {{- partial "footer_custom.html" . }}