{{ "<!-- Header -->" | safeHTML }}
    <header id="header" class="alt">
      <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong>{{ .Site.Params.Navigation.subtitle }}{{ end }}</a>

        <nav>
            <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
            <script src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id="search">Is this a DIV for Searching?</div>
            <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search" });
              });
            </script>
        </nav>

    </header>


