/* CSS for the practice layout */

.mom-number {
  margin-block-start: 1em;
  margin-block-end: 0;
  padding: 0.25em;
  background-color: #b2d9ff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}

.embedwrap {
  background-color: #E6F3FF;
}

.practice-nav-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 1.5em 0;
}

.practice-button {
  background-color: #E6F3FF !important;
  color: #000 !important;
}

.practice-button:hover {
  background-color: #b2d9ff !important;
  color: #000 !important;
}