<!DOCTYPE html>
<html>
   {{ partial "header.html" . }}
   <body>
  
      <div id="wrapper">
         <header id="header" class="alt">
            <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong>{{ .Site.Params.Navigation.subtitle }}{{ end }}</a>
         </header>
         
         

         <div id="tiles">
            <section id="one" class="tiles">
            {{ range .Site.Params.Tiles.showcase }}
               <article>
                  <span class="image" style="height:30%; width:auto;">
                     <img src="/img/{{ .image }}" alt="" />
                  </span>
                  <header class="minor">
                     <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                     <p>{{ .subtitle }}</p>
                  </header>
               </article>
            {{ end }}
            </section>
         </div><!--end tiles-->



         <div class="tufte" id="main">
            <section id="one">
               <div class="inner">
                  {{ range .Site.RegularPages }}
                     <header class="major">
                        <h1 id="{{ substr .RelPermalink 1 -1 }}">{{ .Title }}</h1>
                     </header>
                     {{ .Content }}
                  {{ end }}
               </div>
            </section>
         </div><!--end tufte-->


      </div><!--end wrapper-->

      {{ partial "footer.html" . }}

   </body>
</html>