<!-- This short code puts Geogebra files inside of a responsive div so that they resize to match the viewing window for screens smaller than 736px wide.
Best fit is to design files with a width of 736px.  Then find the ratio of height/width and enter it as a percent.

id_m is the id used on Geogebra.org for that app and comes right after https://www.geogebra.org/m/
id_1 is part of the url for the thumbnail
id_2 is another part of the id for the thumbnail
the URL for the thumbnail is https://www.geogebra.org/resource/id_2/id_1/material-id_2.png

This code sets the border color to #fafafa, which is the same as the background color of the pages.  If background color changes, should probably change the border color too.
Also makes sense to set the background color in Geogebra to the same thing, which is RGB 250,250,250.

-->

{{ $id := .Get "id_m" }}
{{ $ratioStr := .Get "ratio" | default "20%" }}

<!-- Responsive container using padding-top ratio -->
<div class="geogebra-wrapper" style="position: relative; width: 100%; max-width: 75ch; padding-top: {{ $ratioStr }}; margin-bottom: 1rem; margin-left: auto; margin-right: auto;">
  <div id="ggb-element-{{ $id }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"></div>
</div>

<script>
  function initGGBApplet(instanceId, elementId, materialId) {
    var applet = new GGBApplet({
      id: instanceId,
      material_id: materialId,
      appName: "classic",
      borderColor: "#fafafa",
      showFullscreenButton: true,
      showMenuBar: false,
      showToolBar: false,
      showToolBarHelp: false,
      showAlgebraInput: false,
      allowStyleBar: false,
      showResetIcon: false,
      enableRightClick: false,
      enableLabelDrags: false,
      enableShiftDragZoom: false,
      useBrowserForJS: false,
      scaleContainerClass: "geogebra-wrapper"
    }, true);

    window.addEventListener("load", function () {
      applet.inject(elementId);
    });
  }

  var ggbScript = document.createElement("script");
  ggbScript.src = "https://www.geogebra.org/scripts/deployggb.js";
  ggbScript.onload = function () {
    initGGBApplet("ggbApplet-{{ $id }}", "ggb-element-{{ $id }}", "{{ $id }}");
  };
  document.head.appendChild(ggbScript);
</script>

<!-- Print fallback -->
<noscript>
  <div style="text-align:center; font-size:0.8em; margin: 0.5em auto; width:60%">
    <a href="https://www.geogebra.org/m/{{ $id }}">
      <img src="https://www.geogebra.org/resource/{{ $id }}/{{ $id }}/material-{{ $id }}.png" alt="GeoGebra static preview">
    </a><br>
    <em>To use the interactive figure visit </em>
    <a href="https://www.geogebra.org/m/{{ $id }}">https://www.geogebra.org/m/{{ $id }}</a>
  </div>
</noscript>


